<div class="cube-excerpt" id="cube-excerpt-<%= item.title %>">
    <header class="cube-excerpt-header">
        <h1><a href="<%- url_for(item.path) %>">
                <%= item.title %>
        </a></h1>
        <div class="cube-excerpt-header-msg">
            <span class="cube-excerpt-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <%= item.date.format('YYYY-MM-DD') %>
            </span>
            <span class="space-mark">|</span>
            <span class="cube-excerpt-updated">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                <%= item.updated.format('YYYY-MM-DD') %>
            </span>
            <span class="space-mark">|</span>
            <span class="cube-excerpt-wordcount">
                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                <%= wordcount(item.content) %>
            </span>
            <span class="space-mark">|</span>
            <span class="cube-excerpt-tags">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <% item.tags.data.forEach(function (tag) { %>
                    <a href="<%- url_for(tag.path) %>" class="cube-excerpt-tag-link">#<%= tag.name %></a>
                <% }) %>
            </span>
        </div>
    </header>
    <article class="cube-excerpt-entry cube-markdown">
        <%- partial('gallery', { item: item }) %>
            <% if (item.excerpt) { %>
                <%- item.excerpt %>
            <% } else { %>
                <%- item.content %>
            <% } %>
    </article>
    <footer class="cube-excerpt-footer">
        <a class="cube-excerpt-more" href="<%- url_for(item.path) %>">
            <%= __('read_more') %>
        </a>
    </footer>
</div>