<div class="cube-article">
<%- partial('post/title', { item: item }) %>
    <div class="cube-article-header">
        <span class="cube-article-date">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <%= item.date.format('YYYY-MM-DD') %>
        </span>
        <span class="space-mark">|</span>
        <span class="cube-article-updated">
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            <%= item.updated.format('YYYY-MM-DD') %>
        </span>
        <span class="space-mark">|</span>
        <span class="cube-article-wordcount">
            <i class="fa fa-file-word-o" aria-hidden="true"></i>
            <%= wordcount(item.content) %>
        </span>
        <% if (!isPage) { %>
            <span class="space-mark">|</span>
            <%- partial('post/tag', { item: item }) %>
        <% } %>
    </div>
    <div class="cube-article-content cube-markdown">
        <%- partial('post/gallery', { item: item }) %>
        <%- item.content %>
        <% if (isPage && item.path.split('/')[0] == 'about') { %>
        <style>
            li {
                list-style: none;
            }
            .box {
                width:100px;
                height:100px;
                background-size: cover;
                background-repeat: repeat;
                background-attachment: fixed;
                background-size:100% 100%;
                position: relative;
                -webkit-transform-style:preserve-3d;
                -webkit-transform:rotateX(13deg);
                -webkit-animation:move 6s linear infinite;
            }
            @media (min-width:768px) {
                .box {
                    margin: 77px 77% 77px;
                }
            }
            @media (max-width:768px) {
                .box {
                    margin: 77px 60% 77px;
                }
            }
            .box:hover {
                -webkit-animation:move 40s linear infinite;
            }
            .minbox{
                width:50px;
                height:50px;
                position: absolute;
                left:25px;
                top:25px;
                -webkit-transform-style:preserve-3d;
            }
            .minbox li{
                width:50px;
                height:50px;
                position: absolute;
                left:0;
                top:0;
            }
            .minbox li:nth-child(1){
                background: url(https://myweb-1259751480.cos.ap-shanghai.myqcloud.com/images/tweakcube/yf.JPG) no-repeat 0 0;
                background-size:100% 100%;
                -webkit-transform:translateZ(25px);
            }
            .minbox li:nth-child(2){
                background: url(https://myweb-1259751480.cos.ap-shanghai.myqcloud.com/images/tweakcube/kl1.JPG) no-repeat 0 0;
                background-size:100% 100%;
                -webkit-transform:rotateX(180deg) translateZ(25px);
            }
            .minbox li:nth-child(3){
                background: url(https://myweb-1259751480.cos.ap-shanghai.myqcloud.com/images/tweakcube/snow.jpg) no-repeat 0 0;
                background-size:100% 100%;
                -webkit-transform:rotateX(-90deg) translateZ(25px);
            }
            .minbox li:nth-child(4){
                background: url(https://myweb-1259751480.cos.ap-shanghai.myqcloud.com/images/tweakcube/sky.jpg) no-repeat 0 0;
                background-size:100% 100%;
                -webkit-transform:rotateX(90deg) translateZ(25px);
            }
            .minbox li:nth-child(5){
                background: url(https://myweb-1259751480.cos.ap-shanghai.myqcloud.com/images/tweakcube/bcy.JPG) no-repeat 0 0;
                background-size:100% 100%;
                -webkit-transform:rotateY(-90deg) translateZ(25px);
            }
            .minbox li:nth-child(6){
                background: url(https://myweb-1259751480.cos.ap-shanghai.myqcloud.com/images/tweakcube/qjf.JPG) no-repeat 0 0;
                background-size:100% 100%;
                -webkit-transform:rotateY(90deg) translateZ(25px);
            }
            .maxbox li:nth-child(1){
                obj-fit: cover;
                background: url(https://myweb-1259751480.cos.ap-shanghai.myqcloud.com/images/tweakcube/yf.JPG) no-repeat 0 0;
                background-size:100% 100%;
                -webkit-transform:translateZ(25px);
            }
            .maxbox li:nth-child(2){
                background: url(https://myweb-1259751480.cos.ap-shanghai.myqcloud.com/images/tweakcube/kl1.JPG) no-repeat 0 0;
                background-size:100% 100%;
                -webkit-transform:translateZ(25px);
            }
            .maxbox li:nth-child(3){
                background: url(https://myweb-1259751480.cos.ap-shanghai.myqcloud.com/images/tweakcube/snow.jpg) no-repeat 0 0;
                background-size:100% 100%;
                -webkit-transform:rotateX(-90deg) translateZ(25px);
            }
            .maxbox li:nth-child(4){
                background: url(https://myweb-1259751480.cos.ap-shanghai.myqcloud.com/images/tweakcube/sky.jpg) no-repeat 0 0;
                background-size:100% 100%;
                -webkit-transform:rotateX(90deg) translateZ(25px);
            }
            .maxbox li:nth-child(5){
                background: url(https://myweb-1259751480.cos.ap-shanghai.myqcloud.com/images/tweakcube/bcy.JPG) no-repeat 0 0;
                background-size:100% 100%;
                -webkit-transform:rotateY(-90deg) translateZ(25px);
            }
            .maxbox li:nth-child(6){
                background: url(https://myweb-1259751480.cos.ap-shanghai.myqcloud.com/images/tweakcube/qjf.JPG) no-repeat 0 0;
                background-size:100% 100%;
                -webkit-transform:rotateY(90deg) translateZ(25px);
            }
            .maxbox{
                width: 200px;
                height: 200px;
                position: absolute;
                left: 0;
                top: 0;
                -webkit-transform-style: preserve-3d;
            }
            .maxbox li{
                width: 100px;
                height: 100px;
                background: #fff;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0.2;
                -webkit-transition:all 1s ease;
            }
            .maxbox li:nth-child(1){
                -webkit-transform:translateZ(50px);
            }
            .maxbox li:nth-child(2){
                -webkit-transform:rotateX(180deg) translateZ(50px);
            }
            .maxbox li:nth-child(3){
                -webkit-transform:rotateX(-90deg) translateZ(50px);
            }
            .maxbox li:nth-child(4){
                -webkit-transform:rotateX(90deg) translateZ(50px);
            }
            .maxbox li:nth-child(5){
                -webkit-transform:rotateY(-90deg) translateZ(50px);
            }
            .maxbox li:nth-child(6){
                -webkit-transform:rotateY(90deg) translateZ(50px);
            }
            .box:hover ol li:nth-child(1){
                -webkit-transform:translateZ(150px);
                width: 200px;
                height: 200px;
                opacity: 0.8;
                left: -50px;
                top: -50px;
            }
            .box:hover ol li:nth-child(2){
                -webkit-transform:rotateX(180deg) translateZ(150px);
                width: 200px;
                height: 200px;
                opacity: 0.8;
                left: -50px;
                top: -50px;
            }
            .box:hover ol li:nth-child(3){
                -webkit-transform:rotateX(-90deg) translateZ(150px);
                width: 200px;
                height: 200px;
                opacity: 0.8;
                left: -50px;
                top: -50px;
            }
            .box:hover ol li:nth-child(4){
                -webkit-transform:rotateX(90deg) translateZ(150px);
                width: 200px;
                height: 200px;
                opacity: 0.8;
                left: -50px;
                top: -50px;
            }
            .box:hover ol li:nth-child(5){
                -webkit-transform:rotateY(-90deg) translateZ(150px);
                width: 200px;
                height: 200px;
                opacity: 0.8;
                left: -50px;
                top: -50px;
            }
            .box:hover ol li:nth-child(6){
                -webkit-transform:rotateY(90deg) translateZ(150px);
                width: 200px;
                height: 200px;
                opacity: 0.8;
                left: -50px;
                top: -50px;
            }
            @keyframes move{
                0%{
                    -webkit-transform: rotateX(13deg) rotateY(0deg);
                }
                100%{
                    -webkit-transform: rotateX(13deg) rotateY(360deg);
                }
            }
        </style>
        <div class="box">
            <ul class="minbox">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ol class="maxbox">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
        <% } %>
    </div>
</div>
<% if (!isPage) { %>
<div class="cube-article-nav">
    <ul>
        <% if (item.prev) { %>
        <li class="prev">
        <a href="<%= url_for(item.prev.path) %>">
            <i class="cube-icon cube-prev" aria-hidden="true"></i>
            <%= item.prev.title %>
        </a>
        </li>
        <% } %>
            <% if (item.next) { %>
            <li class="next">
            <a href="<%= url_for(item.next.path) %>">
                <%= item.next.title %>
                <i class="cube-icon cube-next" aria-hidden="true"></i>
            </a>
        </li>
        <% } %>
    </ul>
</div>
<% } %>
<% if (!isPage || (isPage && item.comment)) { %>
<%- partial('comment/entry', { item: item }) %>
<% } %>