<div class="cube-article">
<%- partial('post/title', { item: item }) %>
    <div class="cube-article-header">
        <span class="cube-article-date">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <%= item.date.format('YYYY-MM-DD') %>
        </span>
        <span class="space-mark">|</span>
        <span class="cube-article-updated">
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            <%= item.updated.format('YYYY-MM-DD') %>
        </span>
        <span class="space-mark">|</span>
        <span class="cube-article-wordcount">
            <i class="fa fa-file-word-o" aria-hidden="true"></i>
            <%= wordcount(item.content) %>
        </span>
        <% if (!isPage) { %>
            <span class="space-mark">|</span>
            <%- partial('post/tag', { item: item }) %>
        <% } %>
    </div>
    <div class="cube-article-content cube-markdown">
        <%- partial('post/gallery', { item: item }) %>
        <%- item.content %>
        <% if (isPage && item.path.split('/')[0] == 'about' && theme.tweakcube) { %>
        <%- partial('../_widget/cube') %>
        <% } %>
    </div>
</div>
<% if (!isPage) { %>
<div class="cube-article-nav">
    <ul>
        <% if (item.prev) { %>
        <li class="prev">
        <a href="<%= url_for(item.prev.path) %>">
            <i class="cube-icon cube-prev" aria-hidden="true"></i>
            <%= item.prev.title %>
        </a>
        </li>
        <% } %>
            <% if (item.next) { %>
            <li class="next">
            <a href="<%= url_for(item.next.path) %>">
                <%= item.next.title %>
                <i class="cube-icon cube-next" aria-hidden="true"></i>
            </a>
        </li>
        <% } %>
    </ul>
</div>
<% } %>
<% if (!isPage || (isPage && item.comment)) { %>
<%- partial('comment/entry', { item: item }) %>
<% } %>